<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <title>Lista de visitantes</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Lista de visitantes</h1>
        <p>Abaixo esta a lista de visitantes do parque</p>

        <div class="table_responsive">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nome completo</th>
                    <th>Cpf</th>
                    <th>Data de nascimento</th>
                    <th>Data do ingresso</th>
                    <th>Tipo do ingresso</th>
                    <th>Número do ingresso</th>
                </tr>
                {% for visitor in visitors %}
                <tr>
                    <td>{{ visitantes.id }}</td>
                    <td>{{ visitor.first_name }} {{ visitor.last_name }}</td>
                    <td>{{ visitor.cpf }}</td>
                    <td>{{ visitor.birth_date|date:"d/m/Y" }}</td>
                    <td>{{ visitor.ticket_date|date:"d/m/Y" }}</td>
                    <td>{{ visitor.get_ticket_type_display }}</td>
                    <td>{{ visitor.ticket_number }}</td>
                </tr>
                {% endfor %}
            </table>

            <a href="./create/" class="btn btn-outline-primary">Novo visitante</a>
        </div>
    </div>
</body>
</html>